<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safevisit">

    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/safevisit_logo"
        android:label="SafeVisit"
        android:roundIcon="@drawable/safevisit_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeVisit">

        <!-- Activities -->
        <activity android:name=".activities.QRScannerActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.MainActivity" />

        <!-- Launch Activity -->
        <activity android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQcKOqVd7NqgHNdeDfLk2TZXVtqXOgOmc" />

    </application>
</manifest>
